@import "~src/assets/styles/variables.styl"

/* You can add global styles to this file, and also import other style files */
body
  margin:0

body
  font-family: $font-family-normal
  color: $primary-font-color

.was-validated .form-control:invalid, .form-control.is-invalid
  border-width 2px
