@import "~src/assets/styles/variables.styl"

.fixed-footer
  overflow: hidden
  position: fixed
  padding: 5px
  width: 100%
  height: auto
  bottom: 0
  background: rgba($primary-color, 100%)
  color: white
  text-align: center
  font-size: 0.8em

#logout-button
  line-height 1
