@import "~src/assets/styles/variables.styl"

.first-header
  height: 5px
  padding: 5px
  background: rgba($primary-color, 100%)
  color: white

.second-header
  height: 60px
  padding: 15px
  background: rgba($bg-lateral-panel, 100%)
  color: $primary-color

.header
  overflow: hidden
  position: absolute
  top: 0
  width: 100%

.logo
  float: left
  width: 6%
  margin-right: 50px
