/* Variables here */

/* Official colors */
$primary-color = #5961b7
$secondary-color = #1ab6f7
$tertiary-color = #f4c401

/* Colore pannelli laterali, menu etc. */
$bg-lateral-panel = #e4e4e4

/* Colore sfondo dei menù a tendina */
$bg-dropdown = #eff1f2

/* Colore sfondo bottoni */
$bg-button = #fbdc5c

/* Colore tab selezionati */
$bg-tab-selected = #c5d6e1

/* Colore testo selezionato */
$bg-text-selected = #5fa3d0

/* Colore toast e messaggi di errore */
$bg-error = #FF0049


/* Stile per i font */
@font-face
   font-family DIN
   font-style normal
   src url(../fonts/D-DIN.otf)

@font-face
   font-family DIN-BOLD
   font-style bold
   src url(../fonts/D-DIN-Bold.otf)

@font-face
   font-family DIN-ITALIC
   font-style italic
   src url(../fonts/D-DIN-Italic.otf)


$font-family-normal = DIN
$font-family-bold = DIN-BOLD
$font-family-italic = DIN-ITALIC

/* Colore del font primario e secondario */
$primary-font-color = #797979
$secondary-font-color = #a9a9a9
