@import "~src/assets/styles/variables.styl"

.main
  height: 100%

.centered-container
  background-color: $primary-color
  position: relative
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 300px
  height: auto
  border-radius: 1px

.login-container
  margin-top: 10%
  margin-bottom: 5%

.login-form
  padding: 10%
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19)

.login-container form
  padding: 5%

.form-group
  text-align: center
  .btn-login
    width: 50%
    padding: 1.5%
    border: none
    cursor: pointer
    text-align: center


.login-form .btn-login
  font-weight: 600
  color: #fff
  background-color: $tertiary-color
  color: $primary-font-color

.login-form .forget-label
  color: $bg-lateral-panel
  font-weight: 600
  //text-decoration: none

#login-text
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  background-color #b8bad0;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19)
